// colors
$white: #FFF;
$mercury: #E5E5E5;
$bombay: #B9BABD;
$santas-gray: #9E9FA4;
$boulder: #7A7A7A;
$mine-shaft: #333333;
$black: #000;
$cod-gray: #111111;
$green-haze: #09A858;
$malachite: #0ac266;
$azure-radiance: #0076FF;

$bg-color-main: $white;
$bg-color-main-invert: $cod-gray;

$text-color-main: $black;
$text-color-main-invert: $white;

$text-color-sub: $boulder;
